<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsk.dican.dao.BskUserDao">

	<!-- 1.用户注册 -->
	<insert id="insertObject">
		insert into bsk_users (id,phone,password,salt)
		values (null,#{phone},#{password},#{salt})
	</insert>
	
	<!-- 2.根据手机号查询用户 -->
	<select id="findObjectByPhone" resultType="com.bsk.dican.entity.BskUser">
		select * from bsk_users where phone=#{phone}
	</select>
	
	<!-- 3.根据用户id查询用户信息 -->
	<select id="findUserMessageByUserId" resultType="com.bsk.dican.entity.BskUserMassage">
		select username,gender,coupon,vj,balance
		from bsk_user_message where user_id=#{userId}
	</select>

</mapper>