<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>比萨-必胜客宅急送外卖网上订餐官网</title>
    <link rel="stylesheet" type="text/css" href="../css/head_footer.css" />
    <link rel="stylesheet" type="text/css" href="../css/pay.css" />
        <link rel="icon" href="../imgs/common/bsk_favicon.ico">
  </head>
  <body>
    <!-- 头部 -->
    <div class="m-top" th:insert="other/head :: headDiv">
      
    </div>

    <!-- 中间部分 -->
    <div class="m-pay">
      <div class="pay-bg">
        <div class="pay-top">
          <div class="return cursor left" id="j-pay-back"></div>
          <div class="title right">
            <span class="nav-left">&nbsp;</span>
            <span class="cursor" id="j-pay-back2">确认订单与优惠</span>
            <span class="nav-line">&nbsp;</span>
            <span class="nav-icon">&nbsp;</span>
            <span class="current">结算</span>
            <span class="nav-line">&nbsp;</span>
            <span>完成</span>
          </div>
        </div>
        <div class="pay-center">
          <div class="pay-center-top">
            <div class="top space-bottom"><span class="font14 black9">配餐地址</span></div>
            <div class="left center space-bottom">
              <span class="font24 black3 left address" th:text="${order.addr}"></span>
              <span id="j-edit" class="font14 black9 right edit cursor">修改
                <span class="edit-icon">&nbsp;</span>
              </span>
            </div>
            <div class="font14 black9 bottom space-bottom">
              <span class="red">外送&nbsp;&nbsp;</span>
              <span>预计<span class="red">40分钟</span>后送达</span>
            </div>
            <hr>
          </div>

          <div class="font14 black9 pay-center-center">
            <div class="name">
              <span class="left label">顾客姓名</span>
              <span class="black3" th:text="${order.username}"></span>
                            <span class="black3">&nbsp;&nbsp;先生</span>
            </div>
            <div class="phone margin-top35">
              <span class="left label">联系电话</span>
              <span class="black3" th:text="${order.phone}"></span>
            </div>
            <div class="pay-method">
              <span>总共金额&nbsp;&nbsp;&nbsp;&nbsp;<span class="font20 red" th:text="${order.totalPrice}"></span><span class="black3">元</span></span>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;选择支付方式</span>
              <div class="black3 pay-method-list">
                <div id="j-pay-type8" class="left item-bg cursor">
                  <img src="../imgs/order/pay-icon2.png">
                  <div class="item-text item-text-height" style="line-height:20px;">
                    <p><span>必胜客礼品卡</span>
                    </p>
                    <p class="red">余额0元 </p>
                  </div>
                </div>
                <div id="j-pay-type6" class="left item-bg cursor">
                  <img src="../imgs/order/pay-icon2.png">
                  <div class="item-text item-text-height">
                    <spn>心意美食卡支付</spn>
                  </div>
                </div>
                <div id="j-pay-type2" class="left item-bg cursor">
                  <img src="../imgs/order/pay-icon2.png">
                  <div class="item-text item-text-height">
                    <spn><span style="line-height:16px;">必胜客宅急送美食劵支付（不足部分支付现金）</span></spn>
                  </div>
                </div>
                <div id="j-pay-type4" class="left item-bg cursor on">
                  <img src="../imgs/order/pay-icon3.png">
                  <div class="item-text item-text-height">
                    <spn>微信支付</spn>
                  </div>
                </div>
                <div id="j-pay-type5" class="left item-bg cursor">
                  <img src="../imgs/order/pay-icon4.png">
                  <div class="item-text item-text-height">
                    <spn>支付宝支付</spn>
                  </div>
                </div>
                <div id="j-pay-type3" class="left item-bg cursor">
                  <img src="../imgs/order/pay-icon6.png">
                  <div class="item-text item-text-height">
                    <spn id="j-bank-name">银行卡支付</spn>
                  </div>
                </div>

              </div>

            </div>
            <hr />
          </div>
          <div class="font14 black9 pay-center-bottom">
            <div class="other">
              <span class="label black3">备注</span>
              <input type="text" name="other" id="j-input-other" class="font14 black3 pay-input" maxlength="26" autocomplete="off"
               placeholder="比如饮料去冰，限13个字以内">
              <div class="font10 tip"><span>友情提示：网络订餐不提供订单修改和取消功能，请提交前仔细核实订单内容。</span></div>
            </div>
            <div id="j-bnt-submit" class="font18 white cursor bnt">
              <span>提交订单</span><span class="ui-next">&nbsp;</span>
            </div>

          </div>

        </div>

      </div>
    </div>

    <!-- 尾部 -->
    <div class="m-foot" th:insert="other/foot :: footDiv">
      
    </div>
    <script src="../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/jquery.cookie.js" type="text/javascript"></script>
    <script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      $(function(){
        $("#j-pay-back").on("click",toOrderPage);
        
        // 选择支付方式
        $(".pay-method-list").children().on("click",selectPayment);
        
        // 提交订单
        $("#j-bnt-submit").on("click",submitOrder);
        
     	// 检查用户是否登陆
    	checkLogin();
      })
      
      function checkLogin(){
		$("#j-start-order").hide();
		$("#j-top-coupon").removeClass("hidden");
		$("#j-top-nav .user").removeClass("hidden");
	}
      
      function submitOrder(){
        var payType = $(".pay-method-list .on").index() + 1;
        console.log("index",payType);
        var params={"payType":payType};
        $.ajax({
          url: "/order/submit",
          type: "POST",
          data: params,
          dataType: "json",
          success: function(result){
            if(result.state==1){
              location.href="payment.html?id="+result.data;
            }
          }
        })
      }
    
      function selectPayment(){
        $(this).addClass("on");
        $(this).siblings().removeClass("on");
      }
      
      function toOrderPage(){
        window.location.href="order.html";
      }
      
    </script>
  </body>
</html>
