<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>比萨-必胜客宅急送外卖网上订餐官网</title>
<link rel="stylesheet" type="text/css" href="../css/head_footer.css" />
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/login_register.css" />
<link rel="icon" href="../imgs/common/bsk_favicon.ico">
</head>
<body>
  <!-- 遮罩层 -->
  <div class="ui-dialog-overlay"></div>

  <!-- 每种食品类型的详细介绍  -->
  <div class="m-pop-detail">
    <div class="left-content">
      <img src="">
    </div>
    <div class="right-content">
      <div class="menu-info">
        <span class="name"></span>
      </div>
      <div class="menu-type"></div>
      <div class="menu-desc"></div>
      <div class="price-info">
        <span class="price pricetag"></span>
      </div>
      <div class="add ui-bgbtn-green j-add">
        <span>开始订餐</span>
      </div>
    </div>
    <div class="close"></div>
  </div>

  <!-- 登录注册 -->
  <div class="ui-dialog" id="j-dialog"
    style="margin-top: -273px; margin-left: -250px; position: fixed; background-color: rgb(255, 255, 255); display: none;">
  </div>

  <!-- 底部二维码 -->
  <div class="qrCodeFixed">
    <img src=../imgs/menu/common_image_xcx_nor.png alt="微信小程序"
      class="qrMinImg">
  </div>

  <!-- 头部 -->
  <div class="m-top" th:insert="other/head :: headDiv">
    
  </div>

  <!-- 中间部分 -->
  <div class="m-main">
    <div class="m-main-box clear-fix" id="m-menu left">
      <!-- 右侧在线客服 -->
      <div class="ui-chat">
        <div class="offline chat">
          <div class="tip"></div>
        </div>
      </div>

      <div class="m-menu left" id="j-menu-left">
        <ul>
          <li th:each="menu : ${menus}"
            th:attr="class=${menu.id == 1 ? 'on' : ''}"><a
            th:id="${menu.id}" th:text="${menu.title}"></a></li>
        </ul>
      </div>

      <div class="m-menu-content right" id="j-menu-content">

        <!-- 分类条件导航 -->
        <div class="m-condition" style="width: 1081px;">

          <!-- 隐藏的类型和尺寸图 -->
          <div class="m-pizza-tip">
            <div class="nav">
              <div class="tap on">类型说明</div>
              <div class="tap">尺寸说明</div>
            </div>

            <div class="img">
              <img src="../imgs/menu/base_desc.jpg"> <img
                src="../imgs/menu/size_desc.jpg" class="hidden">
            </div>

            <!-- 关闭开关 -->
            <div class="close cursor"></div>
          </div>

          <div class="state-box" style="width: 100%;">
            <div class="type-box">
              <div class="title">
                <div class="info ui-info"></div>
                <div>类型</div>
              </div>
              <div class="item on">不限</div>
              <div class="item">芝心</div>
              <div class="item">铁盘</div>
              <div class="item">二合一</div>
            </div>
            <div class="size-box">
              <div class="title">
                <div class="info ui-info"></div>
                <div>尺寸</div>
              </div>
              <div class="item on">不限</div>
              <div class="item">小装</div>
              <div class="item">普通装</div>
              <div class="item">铺装</div>
            </div>
          </div>
        </div>

        <!-- 类型,尺寸区域的空盒子,在类型,尺寸隐藏区域显示出来时设为块状元素,将商品列表顶下去 -->
        <div class="empty-container" id="j-empty-container"
          style="display: none; height: 450px; width: 841px;"></div>

        <!-- 产品列表 -->
        <div class="m-product-list has-condition"></div>
      </div>
    </div>
  </div>

  <!-- 尾部 -->
  <div class="m-foot" th:insert="other/foot :: footDiv">

  </div>
  <script src="../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/jquery.cookie.js" type="text/javascript"></script>
  <script src="../js/menu.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/goodDetail.js" type="text/javascript"></script>
    <script src="../js/jquery.fly.min.js" type="text/javascript" ></script>
    <script src="../js/requestAnimationFrame.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      $(".m-main .m-product-list").on("click", ".start", doLogin);
      $(".m-main .m-product-list").on("click", ".btn", toOrderDetail);
      $(".m-menu-content.right").on("click", ".back", loadGoodsList);
      /* 弹出商品详细介绍层 */
      $(".m-product-list").on("click", ".img", popupProductDesc);

      /* 给所有菜单项添加点击事件 */
      $(".m-menu").on("click","a",getMenuId);

      doFindObjectsByMenuId();

      doGetUserMessage();

    })

    function doGetUserMessage() {
      var _id = $.cookie('id');
      if(!_id){
        return;
      }
      doLoadShoppingBox();
    }
    
    function doLoadShoppingBox() {
      $.ajax({
        url : "other/shoppingBox.html",
        type : "get",
        dataType : "html",
        success : function(result) {
          $(".m-main").after(result);
        }
      })
    }
    

    function loadGoodsList() {
      $.ajax({
        url : "other/goodsList.html",
        type : "get",
        dataType : "html",
        success : function(result) {
          if ($(".m-menu-content.right").empty()) {
            $(".m-menu-content.right").append(result);
          }
          getCurrentMenuId;
          $(".m-main .m-product-list").on("click", ".btn", toOrderDetail);
        }
      })
    }

    /* 获取当前商品列表页面所属菜单id */
    function getCurrentMenuId() {
      var menuId = $("#j-menu-left").data("menuId");
      doFindObjectsByMenuId(menuId);
    }
    
    /* 获取菜单id */
    function getMenuId() {
      var menuId = $(this).prop("id");
      $(this).parent("li").siblings(".on").removeClass("on");
      $(this).parent("li").prop("class", "on");
      doFindObjectsByMenuId(menuId);
    }
  </script>
</body>
</html>
