.cursor {
	cursor: pointer;
}

.grey {
	color: #999999;
}

.red {
	color: #E5534E;
}

.font16 {
	font-size: 16px;
}

/* 底部二维码 */
img {
	border: 0;
}

.qrCodeFixed {
	position: fixed;
	bottom: 50px;
	right: 2%;
	min-width: 60px;
	min-height: 60px;
	cursor: pointer;
}

.qrMinImg {
	width: 60px;
	height: 80px;
}

.qrMinImg:hover {
	width: 120px;
	height: 160px;
}

/* 中部样式 */
.m-main {
	width: 100%;
	min-height: 401px;
	margin: 70px 0 0 0;
	/* overflow: hidden; */
}

.m-main .m-main-box {
	/* box-sizing: border-box; */
	width: 1200px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

/* 在线客服 */
.ui-chat {
	position: absolute;
	right: -40px;
	top: 40px;
	width: 40px;
	height: 87px;
	background-color: #E55748;
	z-index: 500;
}

.ui-chat .offline {
	visibility: visible;
	/* position: absolute; */
	width: 40px;
	height: 87px;
	cursor: pointer;
	background: url(../imgs/menu/online.png) no-repeat center;
}

.ui-chat .offline .tip {
	position: absolute;
	top: -5px;
	left: -146px;
	width: 146px;
	height: 137px;
	display: none;
	background: url(../imgs/menu/chat-tip.png) no-repeat;
	z-index: 11;
}

.ui-chat .offline:hover .tip {
	display: block;
}


/* 中间左边菜单栏 */
.m-main .m-menu {
	width: 119px;
	min-height: 968px;
	background-color: #F9F6F0;
	overflow: hidden;
}

.m-main .m-menu ul {
	width: 100px;
	position: fixed;
	margin-bottom: 0;
	left: auto;
	text-align: right;
	font-size: 14px;
	padding: 10px 0 20px 0;
}

.m-main .m-menu ul li {
	height: 24px;
	line-height: 24px;
	box-sizing: border-box;
	margin-top: 16px;
	position: relative;
}

.m-menu li a {
	display: block;
	width: 100%;
}

.m-menu li.on a {
	line-height: 23px;
	color: #EF635F;
	border-bottom: 1px solid #EF635F;
}

.m-menu li:hover a {
	line-height: 23px;
	color: #EF635F;
	border-bottom: 1px solid #EF635F;
}

/* 中间右部菜单区 */
.m-main .m-main-box .m-menu-content {
	/* box-sizing: border-box; */
	width: 1081px;
}

/* 分类条件导航 */
.m-condition {
	position: fixed;
	min-height: 88px;
	left: auto;
	line-height: 88px;
	background-color: #FFF;
	z-index: 2;
}

.m-condition div {
	float: left;
}

/* 隐藏的类型和尺寸部分样式 */
.m-condition .m-pizza-tip {
	width: 1080px;
	height: 450px;
	display: none;
	transition: all ease-out .6s;
}

.m-pizza-tip .nav {
	position: relative;
	width: 100%;
	line-height: 56px;
	top: 0;
	text-align: center;

}


.m-pizza-tip .nav .tap:hover {
	height: 50px;
	color: #333333;
	border-bottom: 3px solid #e94f4f;
}

.m-pizza-tip .nav .tap.on {
	height: 50px;
	color: #333333;
	border-bottom: 3px solid #e94f4f;
}

.m-pizza-tip .nav .tap {
	margin-top: 10px;
	display: inline-block;
	height: 52px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 10px;
	color: #999999;
	float: none;
	cursor: pointer;
	border-bottom: 1px solid #e3dfd6;
}

.m-pizza-tip .img {
	margin-top: -64px;
	overflow: hidden;
	height: 450px;
}

.m-pizza-tip .img img {
	width: 100%;
	height: auto;
}

.m-pizza-tip .img .hidden {
	display: none;
}

/* 关闭开关 */
.m-pizza-tip .close {
	position: relative;
	left: 50%;
	bottom: 0;
	margin-top: -40px;
	margin-left: -39px;
	width: 79px;
	height: 40px;
	background: url(../imgs/menu/close.png) no-repeat;
}

/* 类型盒子 */
.m-condition .type-box {
	margin-right: 23px;
}

.m-condition .title {
	width: 100px;
	font-size: 14px;
	font-weight: bold;
}

.m-condition .title .info {
	width: 30px;
	height: 30px;
	margin-left: 35px;
	margin-top: 29px;
	background: url(../imgs/menu/info.png) no-repeat center;
	cursor: pointer;

}

.info.ui-info:hover {
	background: url(../imgs/menu/info-hover.png) no-repeat center;
}



/* 后期通过jQuery添加on属性 */
.m-condition .type-box .item.on {
	background: url(../imgs/menu/base-selected.png) no-repeat center;
	background-size: 46px 46px;
	color: #fff;
}

/* 后期通过jQuery添加on属性 */
.m-condition .size-box .item.on {
	background: url(../imgs/menu/size-selected.png) no-repeat center;
	background-size: 46px 46px;
	color: #fff;
}

.m-condition .item {
	width: 68px;
	height: 88px;
	background: url(../imgs/menu/base-size-normal.png) no-repeat center center;
	background-size: 46px 46px;
	cursor: pointer;
	text-align: center;
}

.m-condition .type-box .item:hover {
	background: url(../imgs/menu/base-selected.png) no-repeat center;
	background-size: 46px 46px;
	color: #fff;
}

.m-condition .size-box .item:hover {
	background: url(../imgs/menu/size-selected.png) no-repeat center;
	background-size: 46px 46px;
	color: #fff;
}

/* 产品列表 */
.m-product-list {
	margin-top: 88px;
}

.m-product-list {
	display: inline-block;
	border-top: 1px solid #F0F0F0;
	border-left: 1px solid #F0F0F0;
}

/* 单个商品表格 */
.m-product-list .product {
	width: 215px;
	height: 291px;
	/* position: relative; */
	float: left;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	text-align: center;
	transition: all ease .3s;
	box-shadow: 0 0 black;
}

.m-product-list .product:hover {
	box-shadow: 0 2px 10px #999;
	z-index: 1;
}

/* 商品图片 */
.m-product-list .product .img {
	width: 100%;
	text-align: center;
	overflow: hidden;
}


.m-product-list .product .img img {
	width: 100%;
	margin: 0 auto;
	margin-top: -16.66%;
}

.m-product-list .product .title {
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.m-product-list .product .desc {
	height: 20px;
	line-height: 20px;
}

/* 价格 */
.m-product-list .product .price {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
}

.font-weight {
	font-weight: bold;
}

/* 开始订餐按钮 */
.m-product-list .product .order {
	height: 32px;
	margin-top: 8px;
}

.m-product-list .product .order .start {
	margin: 0 auto;
	width: 78px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #68d381;
	border-bottom-color: #58B36E;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}

.ui-bgbtn-green {
	background-color: #68d381;
}

/* 遮罩层 */
.ui-dialog-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 888;
}

.m-pop-detail {
	display: none;
	position: fixed;
	width: 890px;
	height: 508px;
	top: 50%;
	left: 50%;
	margin-top: -254px;
	margin-left: -445px;
	background-color: #fff;
	border-radius: 2px;
	overflow: hidden;
	z-index: 1000;
}

.m-pop-detail .left-content {
	float: left;
	width: 400px;
	height: 400px;
	overflow: hidden;

}

.m-pop-detail .right-content {
	float: right;
	margin-left: 38px;
	width: 426px;
	font-size: 14px;
	overflow: hidden;
	margin-bottom: 45px;
}

.m-pop-detail .menu-info {
	margin-top: 50px;
	width: 390px;
	line-height: 30px;
}

.m-pop-detail .menu-info .name {
	font-size: 24px;
	font-weight: bold;
}

.m-pop-detail .menu-type {
	margin-top: 10px;
	height: 12px;
}

.m-pop-detail .menu-desc {
	word-wrap: break-word;
	margin-top: 40px;
	width: 390px;
	line-height: 24px;
	font-size: 14px;
	color: #363636;
}

.m-pop-detail .price-info {
	padding-top: 56px;
	color: #e55748;
	clear: both;
}

.m-pop-detail .price-info .price {
	font-size: 24px;
}

.m-pop-detail .add {
	margin-top: 20px;
	width: 160px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #68d38;
	border-bottom-color: #58B36E;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.m-pop-detail .close {
	position: absolute;
	right: 38px;
	top: 26px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url(../imgs/menu/close2.png) no-repeat;
	z-index: 1500;
}

/* 选择商品规格部分css */
.m-mealdeal-detail {
    width: 100%;
    font-size: 14px;
    position: relative;
		min-height: 100px;
}

.m-mealdeal-detail .left-content {
    position: fixed;
    left: auto;
    top: 70px;
    width: 400px;
}

.m-mbanner .banner-mealdeal {
    height: 400px;
}
.m-mbanner .banner {
    width: 400px;
    height: 400px;
    position: relative;
}

.m-mbanner .banner-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.m-mbanner .banner-item li {
    position: absolute;
    top: 0;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.m-mbanner .banner-nav {
    position: absolute;
    top: 300px;
    text-align: center;
}

.m-mealdeal-detail .desc {
    padding-top: 30px;
    padding-left: 20px;
    color: #333333;
    clear: both;
}

.m-mealdeal-detail .desc .hascontain {
    padding: 0 15px;
}

.m-mealdeal-detail .back {
    position: absolute;
    left: 20px;
    top: 27px;
    z-index: 2;
    background: url(../imgs/detail/icon-back.png) no-repeat center;
    height: 29px;
    width: 29px;
    cursor: pointer;
    transition: .2s ease-out;
}

.m-mealdeal-detail .right-content {
    float: left;
    margin-left: 432px;
}

.m-mealdeal-detail .fix-info {
    position: fixed;
    width: 807px;
    background-color: #fff;
    min-height: 160px;
    left: auto;
    top: auto;
    z-index: 8;
}

.m-mealdeal-detail .menu-info {
    margin-top: 25px;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.m-mealdeal-detail .menu-info .name {
    font-size: 24px;
    font-weight: bold;
}

.m-mealdeal-detail .menu-info .type {
    color: #999999;
    margin-left: 118px;
}

.ui-hot {
    display: inline-block;
    background: url(../imgs/menu/menuHeat.png) left center repeat-x;
    height: 12px;
    margin-right: 20px;
}

.m-mealdeal-detail .price-info {
    margin-top: 12px;
    color: #e55748;
}

.m-mealdeal-detail .price-info .unit {
    font-size: 12px;
    padding-left: 2px;
}

.m-mealdeal-detail .price-info .price {
    font-size: 24px;
}

.m-mealdeal-detail .price-info .labelfour_desc {
    display: inline-block;
    position: relative;
    left: 8px;
    top: -4px;
    background-color: #f0554b;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
}

.m-mealdeal-detail .mealeal-add {
    margin-top: 16px;
    width: 100%;
    height: 44px;
    text-align: center;
}

.m-mealdeal-detail .add-cart-num {
    width: 120px;
    border: 1px solid #d2d2d2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 44px;
    float: left;
    overflow: hidden;
}

.m-mealdeal-detail .add-cart-num div {
    float: left;
    height: 44px;
    width: 40px;
}

.ui-minus-grey {
    background: url(../imgs/common/minus-grey.png) no-repeat center;
}

.m-mealdeal-detail .add-cart-num input {
    margin-top: 13px;
    height: 16px;
    width: 38px;
    outline: 0;
    border: 0;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.m-mealdeal-detail .add-cart-num .add-plus {
    border-right: 0;
}

.ui-plus-green {
    background: url(../imgs/common/plus-green.png) no-repeat center;
    cursor: pointer;
    transition: .2s ease-out;
}

.m-mealdeal-detail .add {
    width: 160px;
    border: 1px solid #68d381;
    border-bottom-color: #58B36E;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 15px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-weight: bold;
}

.ui-bgbtn-green {
    background-color: #68d381;
    transition: .2s ease-out;
}

.ui-add-cart {
    display: inline-block;
    width: 16px;
    background: url(../imgs/common/plus-white.png) no-repeat center;
}

/* 购物盒css */
.m-shopping-content {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12;
    width: 400px;
    height: 100%;
    margin-top: -50px;
    padding-top: 50px;
    display: none;
}

.m-shopping-content .title-area {
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #FFFEF9;
    text-align: center;
}

.m-shopping-content .title-area .close {
    position: absolute;
    left: 0;
    width: 50px;
    height: 70px;
    background: url(../imgs/menu/close1.png) no-repeat center;
}

.m-shopping-content .title-area .close .label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 25px;
}

.m-shopping-content .title-area .title {
    display: inline-block;
    font-size: 24px;
}

.m-shopping-content .title-area .clear-box {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 14px;
    color: #666666;
}

.m-shopping-content .desc-area {
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: #FAF9F3;
    font-size: 14px;
    text-align: center;
}

.m-shopping-content .desc-area {
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: #FAF9F3;
    font-size: 14px;
    text-align: center;
}

.m-shopping-content .desc-area .item {
    padding: 0 15px;
    text-align: center;
    display: inline;
}

.m-shopping-content .desc-area .item .num {
    padding: 0 3px;
}

.red {
    color: #E5534E;
}

.m-shopping-content .desc-area .item.left-border {
    border-left: 1px solid #D3D3D3;
}

/* 购物盒产品列表css */
.m-shopping-content .product-area {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    overflow-y: auto;
}

.m-shopping-content .product-area .item {
    min-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #F2F2EF;
}

.m-p-img {
    width: 100px;
    height: 90px;
    text-align: center;
}

.m-p-img img {
    width: 90px;
    vertical-align: middle;
}

.m-p-desc {
    width: 170px;
    height: 90px;
    display: table;
}

.m-p-desc .middle {
    display: table-cell;
    vertical-align: middle;
}

.m-p-calc {
    position: absolute;
    right: 0;
    height: 28px;
    border: 1px #E6E6E6 solid;
    border-radius: 4px;
    margin: 29px 10px 0 0;
    overflow: hidden;
}

.m-p-calc div {
    width: 33px;
    height: 28px;
    float: left;
}

.ui-minus-red {
    background: url(../imgs/common/minus-red.png) no-repeat center;
    cursor: pointer;
    transition: .2s ease-out;
}

.m-p-calc .num input {
    margin-top: 6px;
    width: 32px;
    outline: 0;
    border: 0;
    height: 14px;
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    text-align: center;
}

.ui-plus-grey {
    background: url(../imgs/common/plus-grey.png) no-repeat center;
}

.m-p-tip {
    padding: 0 10px 10px 20px;
    clear: left;
    font-size: 12px;
    color: #999999;
    display: none;
}

.m-p-prom {
    width: 100%;
    height: 50px;
    display: table;
}

.m-p-prom .middle {
    display: table-cell;
    vertical-align: middle;
    padding-right: 54px;
}

.m-p-prom .middle-right {
    display: inline-block;
    float: right;
    padding-left: 5px;
}

.m-delivery-price {
    position: absolute;
    right: 10px;
    margin-top: -35px;
    height: 20px;
    width: 46px;
    color: #E5534E;
    text-align: center;
}

.m-shopping-content .address-area {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 70px;
    background-color: #FAF9F3;
    font-size: 14px;
}

.m-shopping-content .address-area .address, .m-shopping-content .address-area .time {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 310px;
    padding: 5px 0 0 10px;
}

.m-shopping-content .address-area .address {
    padding-top: 10px;
}

.m-shopping-content .address-area .modify {
    margin-right: 20px;
    color: #666666;
}

/* 总计css */
.m-shopping-box {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 50px;
    color: #FFF;
    z-index: 13;
}

.m-shopping-box .box-left {
    height: 100%;
    width: 280px;
    background-color: #e0534e;
    transition: .2s ease-out;
}

.m-shopping-box .box-left .quantity {
    background: url(../imgs/menu/box.png) no-repeat;
    width: 59px;
    height: 51px;
    margin-left: 15px;
    margin-top: -10px;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #E0544F;
}

.m-shopping-box .total {
    display: table;
    width: 205px;
    height: 50px;
    font-size: 14px;
}

.m-shopping-box .total .middle {
    display: table-cell;
    vertical-align: middle;
}

.m-shopping-box .total .middle span {
    display: inline-block;
}

.m-shopping-box .total .price {
    font-size: 20px;
    padding: 0 2px;
}

.m-shopping-box .box-right {
    height: 100%;
    width: 120px;
    background-color: #c53e39;
    font-size: 16px;
    font-weight: bolder;
    line-height: 50px;
    text-align: center;
    transition: .2s ease-out;
}

.ui-next {
    display: inline-block;
    width: 20px;
    background: url(../imgs/common/next.png) no-repeat center;
}

/* 遮罩层css */
.m-shopping-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 11;
    background-color: #000;
    filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
