<div class="content" th:fragment="footDiv">
  <!-- 底部内容区 -->

  <div class="content-logo">
    <!-- 底部logo行 -->
    <a href="#">
      <div class="logo">
        <!-- 底部logo图片 -->
      </div>
    </a>
    <div class="phone strong-color">
      <!-- 底部电话 -->
      4008-123-123
    </div>
  </div>

  <!-- 底部送餐说明 -->
  <div class="content-legal">必胜客宅急送不同城市或不同餐厅的送餐菜单和价格有所不同。
    不同时段产品品项及价格有所不同。工作日特惠午餐及下午茶产品只在部分时段供应。详情以输入送餐地址后显示的实际供应的菜单为准。</div>

  <div class="contont-one">
    <!-- 底部菜单列 -->
    <div class="link">
      <ul>
        <li class="menu"><a href="#">当季特选</a></li>
        <li><a href="#">优惠套餐</a></li>
        <li>|</li>
        <li><a href="#">比萨</a></li>
        <li>|</li>
        <li><a href="#">意面</a></li>
        <li>|</li>
        <li><a href="#">饭食</a></li>
        <li>|</li>
        <li><a href="#">米线</a></li>
        <li>|</li>
        <li><a href="#">小吃</a></li>
        <li>|</li>
        <li><a href="#">饮料</a></li>
        <li>|</li>
        <li><a href="#">汤</a></li>
        <li>|</li>
        <li><a href="#">沙拉和鲜蔬</a></li>
        <li>|</li>
        <li><a href="#">甜点</a></li>
        <li class="margin-right"><a href="">帮助中心</a></li>
        <li class="margin-right"><a href="">会员中心</a></li>
      </ul>
    </div>
  </div>

  <div class="content-two clear-fix">
    <div class="middle clear-fix">
      <div class="left yum-name">
        <a href="#">百胜咨询（上海）有限公司</a>
      </div>
      <div class="left">
        <ul>
          <li><a href="#">必胜客会员服务协议</a></li>
          <li>|</li>
          <li><a href="#">用户协议</a></li>
          <li>|</li>
          <li><a href="#">隐私政策</a></li>
          <li>|</li>
          <li><a href="">法律条款</a></li>
          <li>|</li>
          <li><a href="">经营公示</a></li>
          <li>|</li>
          <li><a href="">联系我们</a></li>
          <li>|</li>
          <li><a href="">加入我们</a></li>
        </ul>
      </div>
      <div class="other right">
        <a href="">沪公网安备 31010402003289号&nbsp;</a> <a href="#">沪ICP备&nbsp;17029211号-1</a>
      </div>
    </div>
  </div>
</div>