<!-- 用户存取选中商品的图片路径 -->
<input type="hidden" value="" id="defaultImg">
<div class="m-mealdeal-detail">
  <!-- 左边区域 -->
  <div class="left-content">
    <div class="m-mbanner">
      <div class="banner banner-mealdeal" id="j-menu-banner">
        <div class="banner-item">
          <ul>
            <li style="display: list-item;"><img src=""></li>
          </ul>
        </div>
        <div class="banner-nav"></div>
        <!-- 未知元素 -->
      </div>

    </div>

    <div class="desc">套餐内包含：普装新奥尔良风情烤肉比萨，饮料选2杯</div>
    <div class="desc">
      <span class="hascontain hidden" productid> <span num="1">1份新奥尔良风情烤肉比萨(纯珍/普通装)</span>
      </span> <span class="hascontain hidden"> <span num="1">1</span>份
      </span>
    </div>
    <!-- 返回商品列表按钮 -->
    <div class="back j-back"></div>

  </div>

  <!-- 右边区域 -->
  <div class="right-content">
    <div class="fix-info" style="top: 45px">
      <div class="menu-info">
        <span class="name">新奥尔良比萨2人餐</span> 
                <span class="type"> 
                  <span class="ui-hot ui-hot0"></span>
        </span>
      </div>
      <div class="price-info">
        <span class="unit"></span> <span class="price" id="goodPrice" menutype="5"></span>
        <span class="unit">元</span> <span class="unit j-up-show">起</span> <span
          class="labelfour_desc">比单品总价值最多省17元</span>
      </div>
      <div class="mealeal-add">
        <div class="add-cart-num" id="j-add-cart-num" productid="609">
          <div class="add-minus ui-minus-grey"></div>
          <div class="add-num">
            <input type="text" name="" id="" value="1" maxlength="2" />
          </div>
          <div class="add-plus ui-plus-green"></div>
        </div>
        <div class="add ui-bgbtn-green" id="j-mealdeal-add">
          <span class="ui-add-cart">&nbsp;</span> <span>加入购物盒</span>
        </div>


      </div>

    </div>

  </div>

</div>
<script>
    $(function() {
      flyToShoppingBox();
      
      getGoodInfo();
      
      /* 商品数量加减方法 */
      $(".right-content .mealeal-add .add-minus").on("click", decrNum);
      $(".right-content .mealeal-add .add-plus").on("click", addNum);
      
      /* 添加商品到购物车 */
      $("#j-mealdeal-add").on("click",addToCart);
      
      //var imgUrl = $("#j-menu-content").data("imgUrl");
      //$("#j-menu-banner .banner-item img").attr("src",imgUrl);
    });
    
    function flyToShoppingBox(){
      var offset = $("#j-shopping-box-quantity").offset();  //结束的地方的元素
        $(".add").click(function(event){   //是$(".addcar")这个元素点击促发的 开始动画的位置就是这个元素的位置为起点
          var addcar = $(this);
          //var img = addcar.parent().find('img').attr('src');
          var img = $(".banner-item img").attr('src');
          var flyer = $('<img class="u-flyer" src="'+img+'" width="160" height="160" style="border-radius: 8px;z-index:9999">');
          flyer.fly({
            start: {
              left: event.pageX-540,
              top: event.pageY+50
            },
            end: {
              left: offset.left+40,
              top: offset.top,
              width: 0,
              height: 0
            },
            onEnd: function(){
              //$("#j-shopping-box-quantity").show().animate({width: '250px'}, 200).fadeOut(1000);
              this.destory();
            }
          });
        });
    }
    
    </script>
    

