<div class="m-shopping-content" id="j-shopping-content">
	<div class="title-area" id="j-box-title-area">
		<div class="close">
			<span class="label cursor" id="j-shopping-close">&nbsp;</span>
		</div>
		<div class="title">我的购物盒</div>
		<div class="clear-box">
			<span class="label cursor" id="j-clear-all">清空购物盒</span>
		</div>

	</div>

	<div class="desc-area" id="j-box-desc-area">
		<div class="item" id="j-desc-pizza">
			披萨<span class="red num">1</span>份
		</div>
		<div class="item left-border" id="j-desc-food">
			其他主食<span class="red num">0</span>份
		</div>
		<div class="item left-border" id="j-desc-dessert">
			小食<span class="red num">0</span>份
		</div>
		<div class="item left-border" id="j-desc-soup">
			汤饮<span class="red num">0</span>份
		</div>
	</div>

	<!-- 购物盒产品列表 -->
	<div class="product-area" id="j-box-product-area"
		style="height: 435px;">

		<div class="item clear-fix" id="delivery">
			<div class="m-p-prom">
				<div class="middle">
					<div class="middle-right">
						<span>外送费: </span>
					</div>
				</div>
			</div>
			<div class="m-delivery-price">
				<span>9.0元</span>
			</div>
		</div>

	</div>

	<!-- 送餐地址 -->
	<div class="address-area clear-fix" id="j-box-address-area">
		<div class="address left" title="">上海市海华厅(南京东路505号海仑宾馆5层)会湖公园25号</div>
		<div class="time left">
			<span class="red">外送</span>&nbsp;&nbsp;预计&nbsp; <span class="red">2020-02-13
				11:00</span>左右到达
		</div>
		<div class="modify right cursor" id="j-box-modify-address">修改</div>
	</div>

</div>

<div class="m-shopping-box clear-fix" id="j-shopping-box">
	<div class="box-left left cursor" id="j-shopping-box-left">
		<div class="quantity left" id="j-shopping-box-quantity">0</div>
		<div class="total left">
			<div class="middle" style="text-align: center;">
				<span>总计 <span class="price" id="j-shopping-box-total">0</span>元
				</span> <span class="font12" id="j-deliver-fee">(含9元外送费)</span>
			</div>
		</div>
	</div>

	<div class="box-right left cursor" id="j-shopping-box-right">
		<span>选好了</span> <span class="ui-next">&nbsp;</span>
	</div>

</div>

<!-- 打开购物盒遮罩层 -->
<div class="m-shopping-open" id="j-shopping-box-left"></div>

<script type="text/javascript">
	$(function(){
		$("#j-shopping-box-left").bind("click",shoppingContentShow);
		$("#j-shopping-content #j-box-title-area .close").on("click",shoppingContentHide)
		
		$("#j-box-product-area").on("click",".j-plus",addShopBoxNum);
		$("#j-box-product-area").on("click",".j-minus",decrShopBoxNum);
		// 清空购物车
		$("#j-clear-all").on("click",clearCart);
		
		// 创建数组用于保存在购物盒中已有的商品id
		var productIds = new Array();
		$("#j-shopping-box-quantity").data("productIds",productIds);
		
		// 选好了跳转订单页面
		$("#j-shopping-box-right").on("click",toOrderHtml);
	})
	
	function toOrderHtml(){
		// 1.获取购物盒商品列表商品信息
		var productIds = $("#j-shopping-box-quantity").data("productIds");
		
		$(productIds).each(function(index,productid) {
        	console.log("productId---",productid);
        	var val = parseInt($('#j-box-product-area .item[productid='+ productid +'] .num input').val());
        	console.log("val---",val);
        });
		
	}
	
	function shoppingContentShow() {
		$("#j-shopping-content").toggle();
	}
	
	function shoppingContentHide() {
		$("#j-shopping-content").hide();
	}
	
	function clearCart(){
		$("#delivery").siblings().remove();
		$("#j-shopping-box-quantity").html(0);
		$("#j-shopping-box-total").html(0);
		
		var productIds = new Array();
		$("#j-shopping-box-quantity").data("productIds",productIds);
	}

</script>